.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem 2rem 2rem;
    gap: 2.5rem;
    text-align: center;
    background-color: #e9dfc7;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
